@import "tailwindcss";

:root {
  --background: var(--color-bg-light);
  --foreground: var(--color-text-light);
  --accent: var(--color-accent-light);
  --surface: var(--color-surface-light);
  --border: var(--color-border-light);
  --muted: var(--color-muted-light);
}

@theme {
  /* Dark Mode */
  --color-bg-dark: #141416;                 
  --color-text-dark: var(--color-zinc-200);
  --color-accent-dark: var(--color-rose-600);
  --color-surface-dark: #1c1c1f;             
  --color-border-dark: #2a2a2d;              
  --color-muted-dark: var(--color-zinc-400);

  /* Light Mode */
  --color-bg-light: var(--color-zinc-100);
  --color-text-light: #141416;              
  --color-accent-light: var(--color-rose-700);            
  --color-surface-light: #ffffff;           
  --color-border-light: var(--color-zinc-300);
  --color-muted-light: var(--color-zinc-500);            
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    --background: var(--color-bg-dark);
    --foreground: var(--color-text-dark);
    --accent: var(--color-accent-dark);
    --surface: var(--color-surface-dark);
    --border: var(--color-border-dark);
    --muted: var(--color-muted-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root.light {
    --background: var(--color-bg-light);
    --foreground: var(--color-text-light);
    --accent: var(--color-accent-light);
    --surface: var(--color-surface-light);
    --border: var(--color-border-light);
    --muted: var(--color-muted-light);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
